<a href="https://colab.research.google.com/github/Varun-Mulchandani/roBERTa_based_SQuAD_QA/blob/master/SQuAD_understanding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Understanding the SQuAD dataset for Question and Answering:

In [0]:
import json
import pandas as pd

The SQuAD dataset is in a json file:

In [0]:
f = open('train-v2.0.json')

In [0]:
data = json.load(f)

Creating lists which we will add to out dataset:

In [0]:
titles = []
contexts = []
questions = []
ids =[]
answers = []
answer_start = []
is_impossible = []
for i in data['data']:
  title = i['title']
  for j in i['paragraphs']:
    context = j['context']
    for k in j['qas']:
      question = k['question']
      id_ = k['id']
      is_impossible_ = k['is_impossible']
      for l in k['answers']:
        titles.append(title)
        contexts.append(context)
        questions.append(question)
        ids.append(id_)
        answers.append(l['text'])
        answer_start.append(l['answer_start'])
        is_impossible.append(is_impossible_)

Considering the importance of the 'is_impossible' attribute:

In [0]:
for i in is_impossible:
  if i == 'True':
    print('h')

Since all the values in the attribute are Boolean 'False', I have decided to disregard it

In [0]:
train = pd.DataFrame({'title':titles, 'question':questions, 'id':ids, 'answers':answers, 'answer_start':answer_start ,'context':contexts})

In [0]:
train.head()

     title  ...                                            context
0  Beyoncé  ...  Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...
1  Beyoncé  ...  Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...
2  Beyoncé  ...  Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...
3  Beyoncé  ...  Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...
4  Beyoncé  ...  Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...

[5 rows x 6 columns]

In [0]:
train.to_csv('train.csv')